@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



:root{
    --primary-color:#1c64ff;
    --secondary-color: rgb(63, 200, 235);
}


*{
    margin: 0;
    padding: 0;;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--primary-color)
}


header{
    width: 100%;
    background-color: white;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.links{
    font-size: 22px;
}

.links a{
    text-decoration: none;
    color: #777;
    position: relative;
}
.links a.active{
    font-weight: 700;
    color: var(--primary-color);
}

.links a+a{
    margin-left: 32px;
}

.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after{
    width: 100%;
    transition: width 100ms cubic-bezier(0.92, 0.29, 0.15, 0.89);
}

/* card */

.card{
    opacity: 0;
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 40px 40px 20px 20px rgba(0,0,0,0.4);
    animation-fill-mode: forwards;
    
    animation-name: up;
    animation-duration: 700ms;
    animation-delay: 1s;
}

@keyframes up{
    from{
        transform: translateY(15px);
    }
    to{
        opacity: 1;

    }

} 


 /*  DETALHES */


.details{
    padding: 32px;
}


.details h3{
    color: var(--primary-color);
    text-transform: uppercase;
}


.details .items{
    border-bottom:1px solid rgba(0,0,0,0.4);
    padding: 16px 0;
}

.details .items:last-child{
    border: none;
}


.details .items div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color:#777;
    letter-spacing: 0.7px;
    font-weight: normal;

}

.details .items div:nth-child(2){
    color: rgba(0,0,0,0.6);
    font-weight: 900;
    font-size: 18px;

}


.details span{
    background-color: var(--secondary-color);
    border-radius: 16px;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 8px;
    color: rgba(0,0,0,0.6);
    font-weight: 900;
    font-size: 16px;
}

/* 
input */

input,select{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: 700px;
    font-size: 18px;
}

/* FORM */


input[type='radio']{
    width: initial;
    margin-right: 4px;

}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type='submit'],
a.button{
    padding: 8px 32px;
    background-color: var(--primary-color);
    margin-top: 32px;
    font-size: 16px;
    width: 100%;
    color: white;
    border-radius: 4px;
}


a.button{
    text-align: center;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
}

#form-delete button[type='submit']{
    margin-top: 8px;
    background-color: lightcoral;

}

/* INDEX INSTRUCTORS */

.table-container{
    display: block;
    padding: 40px;
    box-sizing: border-box;
}


.table-container table{
    border-spacing: 0;
}


.table-container table tr th {
    text-align: left;
}

td,th{
    padding:16px;
    border-bottom: 1px solid black;
}

tbody tr:last-child td{
    border-bottom: none;
}


tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;

}

tbody tr td:last-child a,
.table-container > a {
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 6px;
}

th{
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

.table-container thead tr th:last-child,
td:last-child{
    text-align: center;

}

.table-container > a{
    margin-bottom: 17px;
    display: inline-block;
    text-transform: uppercase;
}