<!DOCTYPE html>
<html lang="en">

<head>
    {% block headcontent %}
    <title>Vinicius Rosa LaunchBase Version</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <header>
        <div class="links">
            <a href="/members">Members</a>
            <a href="/instructors">Instructors</a>
        </div>

    </header>

    <script src="/scripts.js"></script>


    {% block content %}{% endblock %}

</body>

</html>