    <script>
        const formdelete = document.querySelector("#form-delete");
        formdelete.addEventListener("submit", function (event) {
            const confirmation = confirm("Deseja deletar?");
            if (!confirmation) {
                event.preventDefault()
            }
        });
    </script>